.mol-container {
    width: 1000px;
    height: 500px;
    position: relative;
}

.button {
    background-color: #87CEFA; 
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}


.button_label {
    background-color: white; 
    color: black; 
    border: 2px solid #8A2BE2;
}

.button_label:hover {
    background-color: #8A2BE2;
    color: white;
}